doc/build/
*~
/pkg/000_bootstrapping/inst
/pkg/001_configuring_app/inst
/pkg/002_developing_components/inst
*.pyc
/pkg/002_developing_components/cstraining.web/cstraining/web/js/build
/pkg/002_developing_components/cstraining.web/cstraining/web/js/.cache-prod
/pkg/002_developing_components/cstraining.web/cstraining/web/js/.cache-dev
/pkg/002_developing_components/cstraining.web/doc/training_manual/en/pickle
/pkg/002_developing_components/cstraining.web/doc/training_manual/en/html
/pkg/002_developing_components/cstraining.web/doc/_docindex
/pkg/002_developing_components/cstraining.web/doc/docportal.db
/pkg/002_developing_components/cstraining.web/doc/training_manual/en/doctrees
/pkg/002_developing_components/cstraining.web/doc/training_manual/en/src/_js
/pkg/002_developing_components/cstraining.web/cstraining/web/js/.jest-cache
/pkg/002_developing_components/cstraining.web/cstraining/web/js/node_modules
/pkg/002_developing_components/cstraining.web/cstraining/web/js/yarn.lock
/pkg/003_stateful_components/cstraining.web/cstraining/web/*.pyo
/pkg/003_stateful_components/cstraining.web/cstraining/web/js/.cache-prod
/pkg/003_stateful_components/cstraining.web/cstraining/web/js/.jest-cache
/pkg/003_stateful_components/cstraining.web/cstraining/web/js/build
/pkg/003_stateful_components/inst
/pkg/003_stateful_components/cstraining.web/cstraining/web/js/node_modules
/pkg/003_stateful_components/cstraining.web/doc/_docindex
/pkg/003_stateful_components/cstraining.web/doc
/pkg/003_stateful_components/cstraining.web/node_modules
/pkg/004_backend_communication/cstraining.web/cstraining/web/js/.cache-prod
/pkg/004_backend_communication/inst
/pkg/004_backend_communication/cstraining.web/cstraining/web/js/.jest-cache
/pkg/004_backend_communication/cstraining.web/cstraining/web/js/build
/pkg/004_backend_communication/cstraining.web/doc/training_manual/en/doctrees
/pkg/004_backend_communication/cstraining.web/doc/training_manual/en/html
/pkg/004_backend_communication/cstraining.web/doc/training_manual/en/pickle
/pkg/004_backend_communication/cstraining.web/doc/docportal.db
/pkg/004_backend_communication/cstraining.web/doc/_docindex
/pkg/004_backend_communication/cstraining.web/node_modules
*.pyo
/pkg/004_backend_communication/cstraining.web/cstraining/web/js/node_modules
/pkg/005_custom_application/inst
/pkg/005_custom_application/cstraining.web/cstraining/web/js/.cache-prod
/pkg/005_custom_application/cstraining.web/cstraining/web/js/.jest-cache
/pkg/005_custom_application/cstraining.web/cstraining/web/js/build
/pkg/005_custom_application/cstraining.web/cstraining/web/js/node_modules
/pkg/005_custom_application/cstraining.web/doc/_docindex
/pkg/005_custom_application/cstraining.web/doc/training_manual/en/pickle
/pkg/005_custom_application/cstraining.web/doc/training_manual/en/html
/pkg/005_custom_application/cstraining.web/doc/docportal.db
/pkg/005_custom_application/cstraining.web/node_modules
/pkg/005_custom_application/cstraining.web/doc/training_manual/en/doctrees
/.vscode
/pkg/006_application_integration/inst
/pkg/006_application_integration/cstraining.web/cstraining/web/js/.cache-prod
/pkg/006_application_integration/cstraining.web/cstraining/web/js/build
/pkg/006_application_integration/cstraining.web/cstraining/web/js/node_modules
/pkg/006_application_integration/cstraining.web/doc/training_manual/en/src/_js
/pkg/006_application_integration/external_application/venv
/pkg/006_application_integration/external_application/client_secrets.json
/pkg/006_application_integration/cstraining.web/cstraining/web/js/.jest-cache
/pkg/006_application_integration/cstraining.web/doc/training_manual/en/doctrees
/pkg/006_application_integration/cstraining.web/doc/training_manual/en/html
/pkg/006_application_integration/cstraining.web/doc/training_manual/en/pickle
/pkg/006_application_integration/cstraining.web/node_modules
/pkg/006_application_integration/venv
/pkg/006_application_integration/cstraining.web/doc/_docindex
/pkg/006_application_integration/cstraining.web/doc/docportal.db
/html
