# Python
*.pyc
*.pyo
**/venv/

# Editors / OS
*~
/.vscode/

# JS build output & caches
**/node_modules/
**/build/
**/.cache-prod/
**/.cache-dev/
**/.jest-cache/

# Documentation build output
**/pickle/
**/doctrees/
**/html/
**/_docindex/
**/_js/
**/docportal.db

# Package install directories
/pkg/*/inst/
sqlite/

# Secrets
**/client_secrets.json

# Misc
**.zip
